{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'website/style.css' %}" />
  </head>

  <body>
    <div class="center">
    {% if user.is_authenticated %}
      Logged in as: {{ user.get_username}}
      <form method="post" action="{% url 'logout' %}" style="float:right">
        {% csrf_token %}
        <button type="submit" class="log-button">Log out </button>
      </form>

    {% else %}
      <a href="{% url 'login' %}">Log in</a>
      <p>Log in in order to see the meetings.</p>
    {% endif %}
  </div>
    {% block content %} {% endblock %}
  </body>
</html>
