{% extends "base.html" %}
{% load static %}

{% block title %}
  Welcome! 
{% endblock %} 
{% block content%}
  <div class="center">
    <div class="page-layout">
      <h1>Welcome to the meeting planner!</h1>
      {% if user.is_authenticated %}
      <h2>Create a meeting
        <a href="{% url 'new' %}">+</a>
      </h2>
     
        <h2>Meetings</h2>
        <ul>
          {% for meeting in meetings %}
          <li>
            <a href="{% url 'details' meeting.id%}">{{meeting.title}}</a>
          </li>
          {% endfor %}
        </ul>
        <p>Find a list with Rooms here - <a href="{% url 'rooms' %}"> Rooms</a></p>
      {% endif %} 
    </div>
  </div>
{% endblock %}
